<script>
    var Sqs = <go>.Sqs</go>;
</script>
<div class="panel panel-warning main-box" ng-controller="ctrl.sqadmin">
    <div class="panel-heading">嗯...</div>
    <div class="panel-body">
        <div class="sq-list" style="width:100%;">
            <table>
                <tr>
                    <th>申请人</th>
                    <th>登录</th>
                    <th>密码</th>
                    <th>状态</th>
                    <th style="width:180px;">操作</th>
                </tr>
                <tr ng-repeat="sq in vm.sqs" class="ng-cloak">
                    <td>{{sq.Nick}}</td>
                    <td>{{sq.Name}}</td>
                    <td>{{sq.Password}}</td>
                    <td>{{sq.statusString}}</td>
                    <td>
                        <div ng-if="sq.Status==0">
                            <button class="btn btn-success" my-tip="vm.ajaxing" ng-click="vm.status(sq.Name, 1)">通过</button>
                            <button class="btn btn-warning" my-tip="vm.ajaxing" ng-click="vm.status(sq.Name, 2)">拒绝</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>